.wrapper_gl{
    width: 90vw;
    margin: 0 auto;
}

.container{
    display: grid;
    grid-template-rows: 79px 1fr;
    height: 821px;
    background-image: url(../assets/main_style_house.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }

.name {
    display: grid;
    grid-template-columns: 31px 10px;
    grid-template-rows: 14px 30px;
    justify-content: center;
    align-content: center;
}

.logo {
    display: grid;
    align-items: center;
    justify-items: center;
}

.company {
    grid-area: 1/2/3/3;
    font-family: "Nunito Sans", Arial, sans-serif;
    font-weight: 1000;
    align-items: center;
    display: grid;   
}

.menu{
    background-color: #D3CBC5;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-family: "Nunito Sans", Arial, sans-serif;
    justify-items: center;
    align-items: center;
    list-style: none;
    padding-top: 15px;
}

.link {
    color: #1b1a1a;
    text-decoration: none;
}

.search {
    display: grid;
    align-items: center;
    justify-content: center;
}

.body_wrapper {
    display: grid;
    padding-left: 15vw;
    padding-top: 20vh;
    gap: 1vh;
}

.text_1 {
    font-family: "Nunito Sans", Arial, sans-serif;
    line-height: 60px;
}

.text_2 {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-weight: 1000;
    font-size: 50px;
    line-height: 60px;
}

.text_3 {
    font-family: "Nunito Sans", Arial, sans-serif;
    color: #121211;
    font-size: 24px;
    line-height: 60px;
    font-weight: 800;
}

#starting {
    font-family: "Nunito Sans", Arial, sans-serif;
    color: #878787;
    font-size: 16px;
}

.button {
    background-color: black;
    max-width: 114px;
    max-height: 37px;
    color: white;
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
}


footer{
    background-color: #DDD7D1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_footer{
    max-width: 300px;

}

h3{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    font-family: "Nunito Sans", Arial, sans-serif;
    color: #1B1A1A;
}

h5{
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 10px;
    color: #5E5E5E;
}

/*1*/
@media screen and (max-width: 350px) {
    .container{
        max-height: 400px;
    }
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 270%;
    font-size: 90%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text_1 {
    line-height: 90%;
}
.text_2{
    font-weight: 1000;
    font-size: 150%;   
    line-height: 1;
}

.text_3 {
    font-size: 75%;
    line-height: 1;
    font-weight: 800;
}

#starting {
    font-size: 40%;
}

    footer {
    display: none;
    }
}
   
/*2*/
@media screen and (min-width: 351px) and (max-width: 700px){
    .container{
        max-height: 400px;
    }
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200%;
    font-size: 90%;
}


.text_1 {
    line-height: 90%;
}
.text_2{
    font-weight: 1000;
    font-size: 150%;   
    line-height: 1;
}

.text_3 {
    font-size: 75%;
    line-height: 1;
    font-weight: 800;
}

#starting {
    font-size: 40%;
}

    footer {
    display: none;
    }
}